@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.progressCircle {
  stroke-linecap: round;
  animation: countdown 300s ease forwards;
  animation-play-state: paused;
}

@keyframes countdown {
  to {
    stroke-dashoffset: 0;
  }
}
