@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'), url('/DigitalNumbers-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.progressCircle {
  stroke-linecap: round;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
