@import "tailwindcss";

@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'), url('/DigitalNumbers-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.progressCircle {
  stroke-linecap: round;
}
